/* .offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  }
  
  .offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }
  
  .offers-left h1 {
    font-size: 80px;
    font-weight: 600;
    margin: 0;
    line-height: 1.1;
  }
  
  .offers-left p {
    font-size: 22px;
    margin: 20px 0;
    color: #171717;
  }
  
  .offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .offers-left button:hover {
    background: #ff2c2c;
  }
  
  .offers.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
  }
  
  .offers.right img {
    width: 100%;
    max-width: 500px;
    height: auto;
  } */

  /* small size */

  .offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 40px 0;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  }
  
  .offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
  }
  
  .offers-left h1 {
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    line-height: 1.1;
  }
  
  .offers-left p {
    font-size: 18px;
    margin: 15px 0;
    color: #171717;
  }
  
  .offers-left button {
    width: 220px;
    height: 55px;
    border-radius: 28px;
    background: #ff4141;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .offers-left button:hover {
    background: #ff2c2c;
  }
  
  .offers.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 150px;
  }
  
  .offers.right img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
@media(max-width:1280px)
{
  .offers{
    padding: 0px 80px;
    margin-bottom: 120px;
  }
  .offers-left h1{
    font-size: 40px;
  }
  .offers-left p{
    font-size: 18px;
  }
  .offers-right img
  {
    width: 300px;
  }
  .offers-left button
  {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
  .offers-right{
    padding-top: 30px;
  }
}

@media(max-width:1280px)
{
  .offers{
    padding: 0px 60px;
    margin-bottom: 80px;
    height: 40vh;
  }
  .offers-left h1{
    font-size: 30px;
  }
  .offers-left p{
    font-size: 16px;
  }
  .offers-right img
  {
    width: 200px;
  }
  .offers-left button
  {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }
  .offers-right{
    padding-top: 10px;
  }
}

@media(max-width:800px)
{
  .offers{
    
    margin-bottom: 60px;
   
  }
  .offers-left h1{
    font-size: 22px;
  }
  .offers-left p{
    font-size: 13px;
  }
  .offers-right img
  {
    width: 180px;
  }
  .offers-left button
  {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
}

@media(max-width:500px)
{
  .offers{
    height: 25vh;
    margin-bottom: 50px;
  }
  .offers-left h1{
    font-size: 16px;
  }
  .offers-left p{
    font-size: 10px;
  }
  .offers-right img
  {
    width: 120px;
  }
  .offers-left button
  {
    width: 120px;
    height: 25px;
    font-size: 10px;
    margin-top: 12px;
  }
}